#map {
        height: 100%;
        opacity: 1;
        //background-color:black; 
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        opacity: 1;
        background-color: black;
      }